@import "../../../assets/scss/global";

.close:hover {
  background: none;
  color: $theme-color;
  transform: rotate(90deg);
}
.attribute-name {
  color: #989898;
  font-size: 13px;
}

.vm--container {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  .vm--overlay {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    /* z-index: 999; */
    opacity: 1;
    .vm--modal {
      min-width: 50vw;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      background-color: white;
      border-radius: 3px;
      box-shadow: 0 20px 60px -2px rgb(27 33 58 / 40%);
      border-radius: 0px;
      width: 1000px;
      height: 500px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 200ms all;
    }
  }
}

.showModal {
  opacity: 1;
  z-index: 2;
  animation: show .8s;
} 
@keyframes show {
  from {
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 2;
  }
}
