@charset "UTF-8";
/*****************************************************************************/
/*
/* COLORS
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* COLORS
/*
/*****************************************************************************/
.product-availability .status, #pdp-page .status {
  color: #ADADAD;
  font-size: 17px;
  margin-top: 8px; }
  .product-availability .status .status-color, #pdp-page .status .status-color {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 6px 13px 0 0;
    float: left; }
  .product-availability .status .green, #pdp-page .status .green {
    background-color: #95c11f; }
  .product-availability .status .orange, #pdp-page .status .orange {
    background-color: #ff761a; }
  .product-availability .status .red, #pdp-page .status .red {
    background-color: #ff0000; }
.product-availability .action, #pdp-page .action {
  text-align: right;
  display: none; }
.product-availability .action, #pdp-page .action,
.product-availability .status,
#pdp-page .status {
  width: 50%;
  float: left; }

.alert-overlay-wrapper {
  position: relative; }

.product-gallery {
  position: static; }

#pdp-page {
  padding-bottom: 2em;
  background-color: #ffffff; }

.product-info-row-pdp {
  padding-top: 1em; }

.pdp-product-title {
  font-size: 1.6em; }

.product-description {
  font-size: 1.2em; }

.grey-p {
  color: #ADADAD; }

.rating {
  float: left; }

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0); }

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 120%;
  line-height: 1.2;
  color: #ADADAD; }

.rating:not(:checked) > label:before {
  content: '★ '; }

.rating > input:checked ~ label {
  color: #FFBA27; }

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFBA27; }

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px; }

.star-rating-review {
  font-size: 0.9em;
  text-decoration: underline;
  padding: 0 0.5em; }

.pdp-product-description {
  font-size: 0.9em; }
  .pdp-product-description .morelink {
    color: #858585;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 0.9em; }

.additional-description {
  display: none;
  font-size: 0.9em; }

.product-price {
  font-size: 2em; }
  .product-price .old-price {
    color: rgba(173, 173, 173, 0.6);
    font-size: 0.8em;
    font-weight: 200;
    padding-right: 10px; }

.select-product-detail {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 10px 0 0;
  background: transparent url("../img/arrow-67-filled.png") no-repeat 95% 50%;
  background-size: 12px;
  padding: 10px 50px 10px 10px;
  border-radius: 0;
  border: solid 1px #D6D6D6;
  color: #858585;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer; }

.select-row {
  padding: 0 0 0.5em 1em; }

.size-guide-thumb {
  height: 30px;
  padding-right: 0.5em; }

.size-guide {
  text-transform: uppercase;
  color: #858585; }
  .size-guide:hover {
    color: #333333; }

.product-actions-list {
  padding: 0px 15px; }
  .product-actions-list > li {
    margin: 0px 0px 15px 0px;
    vertical-align: top; }
    .product-actions-list > li .bag-items select, .product-actions-list > li .bag-items .selectboxit {
      height: 43px;
      line-height: 43px; }

.bag-items select, .bag-items .selectboxit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url("../img/arrow-67-filled.png") no-repeat 80% 50%;
  background-size: 12px;
  color: #858585;
  border-radius: 0;
  border: 2px solid #FFBA27; }

.pdp-product-heart {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  background: url("../img/heart_sprite.png") no-repeat;
  background-size: 167px; }
  .pdp-product-heart:hover, .pdp-product-heart:focus {
    background-position: -60px; }

.pdp-product-reserve {
  background-color: #353e49;
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
  padding: 15px 25px; }
  .pdp-product-reserve:hover, .pdp-product-reserve:focus {
    color: #ffffff;
    background-color: #3b4551; }

.store-thumb {
  height: 25px;
  margin: 0 10px 0 0; }

.glyphicon-ok-sign:before {
  padding-right: 1em; }

.glyphicon-ok-sign {
  color: #699E63;
  font-size: 0.9em; }

.availability {
  color: #858585;
  font-size: 0.9em;
  padding: 1em 0; }

.product-accordion-title {
  background: #ffffff;
  letter-spacing: 0.1em;
  border-top: 1px solid #ADADAD;
  padding: 0.5em 0; }

.panel-group {
  margin-bottom: 0;
  padding-bottom: 1em; }

.panel-body-pdp {
  padding: 0.3em 0; }
  .panel-body-pdp ul {
    font-size: 14px; }
  .panel-body-pdp h4 {
    font-size: 16px; }

.accordion-plus {
  height: 1em;
  float: right;
  margin-right: 1em; }

.accordion-minus {
  opacity: 0.5;
  content: url("../img/minus-1.png"); }

.product-features-list, .product-details-list, .product-delivery-list {
  padding-left: 10px;
  list-style: none; }
  .product-features-list > li span.attribute-name, .product-details-list > li span.attribute-name, .product-delivery-list > li span.attribute-name {
    text-transform: uppercase;
    color: #858585;
    padding-right: 4px; }

.social-share {
  text-transform: uppercase;
  color: #858585;
  font-size: 0.8em; }

.pdp-social-icons {
  padding: 0; }

.pdp-page-review {
  background: #F5F2EA; }

.may-like {
  letter-spacing: 0.1em;
  font-size: 1.9em;
  padding: 1em 0;
  margin: 0;
  font-weight: 200; }

.text-red {
  color: #D54D4D; }

.reviews-title {
  letter-spacing: 0.1em;
  font-size: 1.9em;
  padding: 1em 0;
  margin: 0;
  font-weight: 200; }

.reviews-col {
  padding: 0 2em; }

.single-comment {
  padding: 2em 0;
  border-bottom: 1px solid #D6D6D6; }

.rated-stars {
  padding-right: 1em; }

.comment-user {
  padding-top: 0.3em; }

.comment-date {
  padding-left: 0.5em; }

.review-top-comment {
  font-weight: 900; }

.review-comment {
  color: #858585; }

.write-review-btn {
  color: #ADADAD;
  text-transform: uppercase;
  background: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid #ADADAD;
  margin: 1em 0 1em 1em; }

.showmore-reviews-btn {
  text-transform: uppercase;
  letter-spacing: 1px; }
  .showmore-reviews-btn:hover {
    text-decoration: underline; }

/* Media Queries */
@media screen and (max-width: 1200px) {
  .size-guide-li {
    padding-top: 1em; } }
@media screen and (max-width: 390px) {
  .add-to-bag {
    margin: 1em 0 0 1em; } }
@media screen and (max-width: 360px) {
  .pdp-product-heart {
    margin: 1em 0 0 1em; } }

/*# sourceMappingURL=_pdp.css.map */
