/*****************************************************************************/
/*
/* COLORS
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* COLORS
/*
/*****************************************************************************/
.product-availability .status, .store-location-wrapper .addresses .address .box-footer .status {
  color: #ADADAD;
  font-size: 17px;
  margin-top: 8px; }
  .product-availability .status .status-color, .store-location-wrapper .addresses .address .box-footer .status .status-color {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 6px 13px 0 0;
    float: left; }
  .product-availability .status .green, .store-location-wrapper .addresses .address .box-footer .status .green {
    background-color: #95c11f; }
  .product-availability .status .orange, .store-location-wrapper .addresses .address .box-footer .status .orange {
    background-color: #ff761a; }
  .product-availability .status .red, .store-location-wrapper .addresses .address .box-footer .status .red {
    background-color: #ff0000; }
.product-availability .action, .store-location-wrapper .addresses .address .box-footer .action {
  text-align: right;
  display: none; }
.product-availability .action, .store-location-wrapper .addresses .address .box-footer .action,
.product-availability .status,
.store-location-wrapper .addresses .address .box-footer .status {
  width: 50%;
  float: left; }

.store-location-wrapper {
  border: 1px solid #D6D6D6;
  background-color: #ffffff;
  margin-bottom: 50px;
  overflow: hidden; }
  .store-location-wrapper .map {
    width: 60%;
    background: #858585;
    float: right; }
    @media screen and (max-width: 991px) {
      .store-location-wrapper .map {
        width: 100%; } }
    .store-location-wrapper .map #map {
      height: 705px;
      width: 100%;
      float: left; }
      @media screen and (max-width: 991px) {
        .store-location-wrapper .map #map {
          height: 400px; } }
  .store-location-wrapper .addresses {
    float: right;
    width: 40%;
    height: 705px;
    padding: 0;
    overflow: auto;
    /* custom Scrollbar spacing */ }
    @media screen and (max-width: 991px) {
      .store-location-wrapper .addresses {
        width: 100%; } }
    .store-location-wrapper .addresses .address {
      float: left;
      width: 100%;
      background-color: #f2f2f2;
      border-bottom: 1px #D6D6D6 solid;
      cursor: pointer;
      transition: all 0.3s ease; }
      .store-location-wrapper .addresses .address .distance {
        color: #333333;
        font-size: 18px;
        width: 50%;
        float: left; }
        .store-location-wrapper .addresses .address .distance .icon {
          font-size: 20px;
          margin: 3px 3px 0 0;
          float: left; }
      .store-location-wrapper .addresses .address .price {
        width: 50%;
        float: right;
        font-size: 20px;
        font-weight: normal;
        text-align: right; }
      .store-location-wrapper .addresses .address .price-discounted {
        width: 50%;
        float: right;
        font-size: 15px;
        font-weight: normal;
        text-align: right;
        text-decoration: line-through; }
      .store-location-wrapper .addresses .address .distance,
      .store-location-wrapper .addresses .address .price {
        margin-bottom: 15px; }
      .store-location-wrapper .addresses .address .title {
        margin: 0 0 25px 0;
        font-size: 18px;
        font-weight: 500; }
      .store-location-wrapper .addresses .address .info {
        color: #858585;
        font-size: 14px;
        margin-bottom: 25px;
        display: none; }
        .store-location-wrapper .addresses .address .info-title {
          width: 40%;
          float: left; }
        .store-location-wrapper .addresses .address .info-content {
          width: 60%;
          float: left; }
      .store-location-wrapper .addresses .address .title,
      .store-location-wrapper .addresses .address .info {
        width: 100%;
        float: left; }
      .store-location-wrapper .addresses .address .box-footer {
        width: 100%;
        float: left; }
      .store-location-wrapper .addresses .address--active {
        background-color: #ffffff; }
        .store-location-wrapper .addresses .address--active:hover {
          background-color: #ffffff !important;
          cursor: default; }
        .store-location-wrapper .addresses .address--active .price {
          color: #FFBA27;
          font-weight: bold !important; }
        .store-location-wrapper .addresses .address--active .info,
        .store-location-wrapper .addresses .address--active .action {
          display: block !important; }
    .store-location-wrapper .addresses .mCSB_inside > .mCSB_container {
      margin-right: 0; }
    .store-location-wrapper .addresses .mCSB_scrollTools {
      width: 2px; }
  .store-location-wrapper .list {
    width: 100%;
    list-style: none;
    float: left;
    padding: 0;
    margin: 0; }
    .store-location-wrapper .list .item {
      transition: all 0.15s ease; }
      .store-location-wrapper .list .item .item-link {
        width: 100%;
        padding: 25px;
        float: left; }
      .store-location-wrapper .list .item:hover {
        background-color: #D6D6D6; }

/*# sourceMappingURL=_store-location.css.map */
